@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Restaurant : home";
}


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var m in Model.Restaurants)
    {
        <tr>
            <td>
                @Html.ActionLink("Details", "Details", "Home", new
                {
                    Id = m.Id
                })
            </td>
            <td>@m.Id</td>
            <td>@m.Name</td>
        </tr>
    }
    </tbody>
</table>

@section footer {
    <h3>@Model.CurrentMessage</h3>
    <div>@DateTime.Now.Year</div>
}