@model OdeToFood.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Restaurant : home";
}


@*<environment names="Developments">
    Dev
</environment>*@


@*<cache enabled="true"></cache>*@


@foreach (var m in Model.Restaurants)
{
    @Html.Partial("_Summary" ,m);
}

@*<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var m in Model.Restaurants)
    {
        <tr>
            <td>
                @Html.ActionLink("Details", "Details", "Home", new
                {
                    Id = m.Id
                })
                
                <a asp-action="Details" asp-route-id="@m.Id">รายละเอียด</a>
                <a asp-action="Edit" asp-route-id="@m.Id">แก้ไข</a>
            </td>
            <td>@m.Id</td>
            <td>@m.Name</td>
        </tr>
    }
    </tbody>
</table>*@

<a asp-action="Create">Create</a>

@section footer {
    <h3>@Model.CurrentMessage</h3>
    <div>@DateTime.Now.Year</div>
}